extends layout

block content
  h1= title
  p Now Date and time is #{result}
  <form action="">
  <input id="m" placeholder="Enter your message…" autocomplete="off" required /><button>Send</button>
 </form>
